 header,footer{
                padding-top:0px;
                background-color:darkseagreen;
            }
            h1{
                color:black;
                height:15px;
                margin-top:0px;
            }
            h4{
                color:orangered;
                padding:0px;
                margin:0px;
            }
            footer{
                padding-top:0px;
                margin:0px;
                height:38px;
            }
            sub{
                color:orangered;
            }
            caption{
                color:red;
                padding-top:5%;
                padding-bottom:3%;
            }
            tr,td{
                padding:3%;
                width:min-content;
            }
            #tb{
                font-size:25px;
                width:100%;
                position:fixed;
                top:30%;
            }
            #f{
                background:url("login_background.jpg");
                background-size:100%;
                height:100%;
                overflow-y:hidden;
                position:fixed;
                width:100%;
            }
            table{
                position:relative;
                top:10%;
            }
            #img{
                border:1px solid red;
                padding:0px;
                margin:0px;
            }
            #left{
                position:fixed;
                left:0%;
                top:45%;
            }
            #right{
                position:fixed;
                left:90%;
                top:45%;
            }
            #left{
                background:url("left.jpg");
                background-size:100%;
                width:10%;
                height:20%;
            }
            #right{
                background:url("right.jpg");
                background-size:100%;
                width:10%;
                height:20%;
            }